<h1>會員</h1>

<form method="post" action="https://google.com">
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="password" name="password_confirm">

    <input type="submit" value="登入">
</form>
